@charset "UTF-8";
/* Variabler */
/* Mix-ins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
}

/*
body {
    overflow: hidden; /* Denne funktion forhindrer scroll på desktop 
} */
h1, h2, h3, h4 {
  margin-top: 10vh;
  font-family: "Rubik Mono One", monospace;
  font-weight: 900;
  font-size: 130px;
  text-transform: uppercase;
}

h2 {
  font-size: 110px;
  margin: 15vh 0 0 10vw;
}

h3 {
  font-size: 110px;
}

h4 {
  font-size: 30px;
  margin-bottom: 10vh;
  color: #2B585B;
}

p {
  line-height: 1.5;
}

.back-btn-light-green, .back-btn-orange, .back-btn-green {
  text-decoration: none;
  border: none;
  font-family: "Rubik Mono One", monospace;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: #8FC8A9;
}
.back-btn-light-green:hover, .back-btn-orange:hover, .back-btn-green:hover {
  border-bottom: 3px solid #8FC8A9;
}

.back-btn-orange {
  color: #CF624A;
}
.back-btn-orange:hover {
  border-bottom: 3px solid #CF624A;
}

.back-btn-green {
  color: #2B585B;
}
.back-btn-green:hover {
  border-bottom: 3px solid #2B585B;
}

/* PILE */
.arrow-container-right {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.arrow-container-left {
  position: relative;
  margin-top: 17vh;
  bottom: 30px;
  left: 0px;
}

.arrow-container-center {
  position: relative;
  margin-top: 20vh;
  bottom: 30px;
  transform: rotate(45deg);
}

.arrow { /*Skal laves til en mix-in*/
  width: 100px;
  height: auto;
}

.text-zero, .text-one, .text-two, .text-three, .text-four, .text-five {
  height: 100vh;
  background-color: #C1DFEF;
  padding: 5vh;
  color: #2B585B;
  position: relative;
}
.text-zero p, .text-one p, .text-two p, .text-three p, .text-four p, .text-five p {
  width: 60vw;
  font-size: 30px;
  margin-top: 20vh;
  margin-left: 15vw;
  line-height: 1.5;
}

.text-one {
  background-color: #2B585B;
  color: #8FC8A9;
}

.text-two {
  background-color: #8FC8A9;
  color: #CF624A;
}

.text-four {
  background-color: #8FC8A9;
  color: #CF624A;
}

.text-four {
  background-color: #2B585B;
  color: #8FC8A9;
}

.section-zero {
  height: 100vh;
  background-color: #CF624A;
  color: #8FC8A9;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
.section-zero p {
  width: 50vw;
  line-height: 1.5;
  font-size: 20px;
  margin: 5vh 25vw;
}

/* Branching Scenarios */
.section-one, #yesContent, #noContent, .section-two, #yesContentTwo, #noContentTwo {
  height: 100vh;
  background-color: #C1DFEF;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20vh;
}
.section-one h2, #yesContent h2, #noContent h2, .section-two h2, #yesContentTwo h2, #noContentTwo h2 {
  font-size: 50px;
  margin-bottom: 10vh;
  margin-left: 0;
  text-transform: uppercase;
  color: #2B585B;
  margin-top: 5vh;
}
.section-one h4, #yesContent h4, #noContent h4, .section-two h4, #yesContentTwo h4, #noContentTwo h4 {
  color: #CF624A;
}
.section-one p, #yesContent p, #noContent p, .section-two p, #yesContentTwo p, #noContentTwo p {
  width: 60vw;
  color: #2B585B;
  margin: 5vh 10vw 10vh 10vw;
  font-size: 20px;
}

.hidden {
  display: none;
}

button {
  margin: 10px 40px;
  width: 250px;
  height: 50px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #CF624A;
  color: #fff;
  border: none;
  transition: transform 0.3s ease;
  letter-spacing: 2px;
  font-weight: 400;
}
button:hover {
  transform: scale(1.2);
}
button img {
  color: #FFF;
}

#yesButton, #noButton {
  text-transform: none;
}

#yesContent {
  background-color: #8FC8A9;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#yesContent p {
  text-align: center;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: 80vw;
}
#yesContent button {
  width: 400px;
  height: 100px;
  padding: 20px;
}

#yesContent.visible {
  display: block;
}

#noContent {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2B585B;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#noContent h2, #noContent h4 {
  color: #CF624A;
}
#noContent p {
  text-align: center;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: 80vw;
  color: #8FC8A9;
}
#noContent button {
  width: 400px;
  height: 100px;
  padding: 20px;
  background-color: #CF624A;
  color: #fff;
}

#noContent.visible {
  display: block;
}

#yesContentTwo, #yesContentThree {
  background-color: #8FC8A9;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#yesContentTwo p, #yesContentThree p {
  text-align: center;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: 80vw;
}
#yesContentTwo button, #yesContentThree button {
  width: 400px;
  height: 100px;
  padding: 20px;
}

#yesContentTwo.visible, #noContentTwo.visible, #yesContentThree.visible {
  display: block;
}

#noContentTwo, #noContentThree {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2B585B;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#noContentTwo h2, #noContentTwo h4, #noContentThree h2, #noContentThree h4 {
  color: #CF624A;
}
#noContentTwo p, #noContentThree p {
  text-align: center;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: 80vw;
  color: #8FC8A9;
}
#noContentTwo button, #noContentThree button {
  width: 400px;
  height: 100px;
  padding: 20px;
  background-color: #CF624A;
  color: #fff;
}

#noContentThree.visible {
  display: block;
}/*# sourceMappingURL=style.css.map */