@use 'partial';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}


/* body {
    overflow: hidden; Denne funktion forhindrer scroll på desktop 
} */

/* TEXT STYLING */


h1, h2, h3, h4{
    margin-top: 10vh;
    font-family: "Rubik Mono One", monospace;
    font-weight: 900;
    font-size: 130px;
    text-transform: uppercase;
    margin: 12vh 0 0 10vw;
}

h2{
    font-size: 110px;
    margin: 10vh auto !important;
    max-width: 60vw;
}

h3{
    font-size: 110px; 
}

h4{
    font-size: 30px;
    margin-bottom: 10vh;
    color: partial.$primary-color-1;
    margin: 5vh auto 5vh auto;
}

p{
    line-height: 1.5;
}

/* BUTTONS */

.back-btn-light-green, .back-btn-orange, .back-btn-green{
    @include partial.back-btn;
}

.back-btn-light-green{
    color: partial.$primary-color-2;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-2;
    }
}

.back-btn-orange{
    color: partial.$primary-color-4;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-4;
    }
}

.back-btn-green{
    color: partial.$primary-color-1;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-1;
    }
}

button { /*Mix-in gider ikke virke */
    margin: 10px 40px;
    padding: 20px 20px;
    max-width: 400px;
    min-width: 250px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    background-color: partial.$primary-color-4;
    color: #fff;
    border: none;
    transition: transform 0.3s ease;
    letter-spacing: 2px;
    font-weight: 400;


    &:hover{
        transform: scale(1.2);
    }

    img{
        color: #FFF;
    }
}

/* ARROWS & ICONS */ 

.arrow-container-right{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.arrow{
    width: 100px;
    height: auto;
}

.icon{
    height: 50px;
    width: auto;
    position: absolute;
    left: 15px;
    bottom: 15px;

    &:hover{
        cursor: pointer;
    }
}



/* FULL SCREEN LAYOUT TEXT SECTIONS */

.text-zero, .text-one, .text-two, .text-three, .text-four, .text-five, .text-six{
    @include partial.full-screen-layout-text-sections;

    @media (max-width: 767px) {

        p{
            width: 60vw;
            font-size: 20px;
            margin: 15vh auto;
        }
    }
}

.text-zero{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

.text-one{
    background-color: partial.$primary-color-1;
    color: partial.$primary-color-2;
}

.text-two{
    background-color: partial.$primary-color-2;
    color: partial.$primary-color-1;
}

.text-three{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

.text-four{
    background-color: partial.$primary-color-1;
    color: partial.$primary-color-2;
}

.text-five{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

.text-six{
    background-color: partial.$primary-color-1;
    color: partial.$primary-color-2;
}

.list-elements{
    margin: 15vh 0;

    div{
        display: flex;
        align-items: baseline;
        margin: 0 20vw 0 15vw;
    }

    p{
        margin: 10px auto;
    }

    span{
        font-size: 30px;
        cursor: pointer;
    }
}

/* TEASER */ 

.section-one{
    height: 100vh;
    background-color: partial.$primary-color-3;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20vh;

    h2{
        font-size: 50px;
        margin-bottom: 10vh;
        margin-left: 0;
        text-transform: uppercase;
        color: partial.$primary-color-1;
        margin-top: 0 !important;
    }

    h4{
        color: partial.$primary-color-4;
    }

    p{
        width: 60vw;
        color: partial.$primary-color-1;
        margin: 5vh 10vw 10vh 10vw;
        font-size: 20px;
    }
}

/* AFSLUTNING */

.section-zero {
    height: 100vh;
    background-color: partial.$primary-color-2;
    color: partial.$primary-color-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;

    h2 {
        margin: 10vh auto 5vh auto;
    }

    p {
        width: 50vw;
        line-height: 1.5;
        font-size: 20px;
        margin: 0 auto 15vh auto;
        text-align: center;
    }
    
    .button-container {
        position: relative;
        margin: 0 45vw;

        a {
            text-decoration: none;
        } 
    }
    
    .button {
        height: 10vw;
        width: 10vw;
        border-radius: 50%; 
        background-color: partial.$primary-color-3; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        animation: pulse 0.7s infinite alternate;
    }

    .button-text {
        transform: rotate(-30deg);
        font-size: 20px;
        font-weight: bold;
        color: partial.$primary-color-1;
    }
}

/* Animation for pulsating effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* BRANCHING SCENARIOS */

.number-container{
    position: relative;


    p{
        position: absolute;
        bottom: -25vh;
        font-size: 16px;
    }
}

#yesContent, #noContent, .section-two, #yesContentTwo, #noContentTwo, #yesContentThree, #noContentThree, #yesContentFour, #noContentFour, #yesContentFive, #noContentFive{

    h2{
        color: partial.$primary-color-1;
    }

    h4{
        color: partial.$primary-color-2;
    }

    p{
        color: partial.$primary-color-1;
    }
}

#yesContent, #yesContentTwo, #yesContentThree, #yesContentFive, #yesSectionEnd {
    @include partial.full-screen-layout-quiz-section;
    background-color: partial.$primary-color-2;
}

#noContent, #noContentTwo, #noContentThree, #noContentFive, #noSectionEnd{
    @include partial.full-screen-layout-quiz-section;
    background-color: partial.$primary-color-1;

    h2, h3, h4{
        color: partial.$primary-color-2;
    }

    p{
        color: partial.$primary-color-2;
    }
}

.hidden {
    display: none;
}

#yesSectionEnd{
    @include partial.full-screen-layout-quiz-section;

    p{
        margin: 50px auto;
    }
}

#noSectionEnd{
    @include partial.full-screen-layout-quiz-section;
    
    p{
        margin: 50px auto;
    }
}

/* Indstillinger til JavaScript funktion */

#yesContent.visible, #yesContentTwo.visible, #noContentTwo.visible, #yesContentThree.visible, #noContent.visible, #noContentThree.visible, #noContentFour.visible, #yesContentFour.visible, #yesContentFive.visible, #noContentFive.visible, #yesSectionEnd.visible, #noSectionEnd.visible, #link1.visible{
    display: block;
}

/*POP UP VINDUER*/

.popup {
    @include partial.popup;
}

.popupContainer{
    padding: 20px 100px;   
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    color: #FFF;
}

.popup.hidden {
    display: none;
}

/* FOLD UD STYLING */

#fold-ud {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    padding: 0 150px;
    background-color: transparent;
    height: 100vh;
    font-size: 20px;
    margin-top: -10vh;

  .accordion {
    max-width: 80vw;
    margin: 0 auto;
  }
   
  .accordion-item h3 {
    padding: 10px 0;
    margin: 0 auto;
    cursor: pointer;
    font-size: 25px;
  }
   
  .accordion-content {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s ease-out; 
    padding: 10px 0;
    
  }
   
  .accordion-content p {
    padding: 10px 0;
    margin: 0 0 0 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .accordion-content.active {
    max-height: auto;
  }
   
  /* Tilføjer + og - ikoner */
  .accordion-item h3 {
    position: relative;
    padding-right: 30px;
  }
   
  .accordion-item h3::before {
    content: "+";
    position: absolute;
    right: 10px;
  }
   
  .accordion-item.active h3::before {
    content: "-";
  }
   
  }
   

  /* Styling til mobilenheder */

    @media (max-width: 767px) {

        h1 {
            font-size: 12vw;
            margin: 10vh 2vw 0 2vw; 
            line-height: 1.3;
            max-width: 80vw;
        }

        h2 {
            font-size: 12vw;
            margin: 10vh 5vw 0 5vw; 
            line-height: 1.3;
            max-width: 80vw;
        }

        h3 {
            font-size: 12vw;
            margin: 10vh 5vw 0 5vw; 
            line-height: 1.3;
        }

        h4 {
            font-size: 1em;
            margin-bottom: 10vh;
            color: partial.$primary-color-1;
            margin: 5vh auto; 
        }

        p {
            font-size: 15px !important;
            margin: 10vh 5vw 0 5vw; 
        }

        .accordion {
            max-width: 100vw;
            margin: 0 auto;
          }

        .back-btn-light-green, .back-btn-orange, .back-btn-green{
            font-size: 20px;
        }

        .arrow-container-right{
            bottom: 20px;
            right: 20px;
        }

        .arrow{
            width: 70px;
            height: auto;
        }

        .accordion-item h3 {
            font-size: 16px !important;
            margin: 2vh 0;
        }

        .section-zero p{
            width: 80vw;
        }

        .section-one{
            padding: 5vw;
        
            h2{
                font-size: 20px;
                margin: 10vh auto 10vh auto;
            }
        
            h4{
                color: partial.$primary-color-4;
            }
        
            p{
                width: 70vw;
                color: partial.$primary-color-1;
                font-size: 20px;
                margin: 0 auto 15vh auto;
            }
        }

        .hidden{

            margin: 0 auto;
            
            h2{
                font-size: 2em !important;
            }

            h2, p{
                margin: 10px auto !important;
            }
        }

        .icon{
            height: 40px;
            width: auto;
            position: absolute;
            left: 15px;
            bottom: 15px;
        
            &:hover{
                cursor: pointer;
            }
        }

        #popupContainer{
            padding: 20px;
            height: 100vh;
            width: 100vw;
        }
    }

    @media (max-width: 400px) {

        h1 {
            font-size: 2.5em;
            margin: 20vh 5vw 0 5vw; 
            line-height: 1.3;
            max-width: 80vw;
        }

        h2 {
            font-size: 2.5em;
            margin: 20vh 5vw 0 5vw; 
            line-height: 1.3;
            max-width: 80vw;
        }

        h3 {
            font-size: 2em;
            margin: 10vh 5vw 0 5vw; 
            line-height: 1.3;
        }

        h4 {
            font-size: 1em;
            margin-bottom: 10vh;
            color: partial.$primary-color-1;
            margin: 5vh auto; 
        }

        p {
            font-size: 14px !important;
            margin: 10vh 5vw 0 5vw; 
        }

        .back-btn-light-green, .back-btn-orange, .back-btn-green{
            font-size: 15px;
        }

        .arrow-container-right{
            bottom: 15px;
            right: 15px;
        }

        .arrow{
            width: 50px;
            height: auto;
        }

        .section-zero h2{
            font-size: 2em;
        }

        .section-one{
            padding: 2vw;
        
            h2{
                font-size: 20px;
                margin: 10vh auto 5vh auto;
            }
        
            p{
                width: 85vw;
                color: partial.$primary-color-1;
                font-size: 10px;
                margin: 0 auto 10vh auto;
            }
        }

        button { 
            padding: 10px 5px;
            font-size: 16px;
            transition: none;
            margin: 10px 0;
        }

        
    }

   

