@use 'partial';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

/*
body {
    overflow: hidden; /* Denne funktion forhindrer scroll på desktop 
} */

/* TEXT STYLING */


h1, h2, h3, h4{
    margin-top: 10vh;
    font-family: "Rubik Mono One", monospace;
    font-weight: 900;
    font-size: 130px;
    text-transform: uppercase;
}

h2{
    font-size: 110px;
    margin: 15vh 0 0 10vw;
}

h3{
    font-size: 110px;   
}

h4{
    font-size: 30px;
    margin-bottom: 10vh;
    color: partial.$primary-color-1;
}

p{
    line-height: 1.5;
}

/* BUTTONS */

.back-btn-light-green, .back-btn-orange, .back-btn-green{
    @include partial.back-btn;
}

.back-btn-light-green{
    color: partial.$primary-color-2;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-2;
    }
}

.back-btn-orange{
    color: partial.$primary-color-4;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-4;
    }
}

.back-btn-green{
    color: partial.$primary-color-1;

    &:hover{
        border-bottom: 3px solid partial.$primary-color-1;
    }
}

button { /*Mix-in gider ikek virke */
    margin: 10px 40px;
    padding: 20px 20px;
    max-width: 400px;
    min-width: 250px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    background-color: partial.$primary-color-4;
    color: #fff;
    border: none;
    transition: transform 0.3s ease;
    letter-spacing: 2px;
    font-weight: 400;


    &:hover{
        transform: scale(1.2);
    }

    img{
        color: #FFF;
    }
}

/* ARROWS */ 

.arrow-container-right{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.arrow-container-center{
    position: relative;
    margin-top: 20vh;
    bottom: 30px;
    transform: rotate(45deg);
}

.arrow{
    width: 100px;
    height: auto;
}


/* FULL SCREEN LAYOUT TEXT SECTIONS */

.text-zero, .text-one, .text-two, .text-three, .text-four, .text-five{
    @include partial.full-screen-layout-text-sections;
}

.text-zero{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

.text-one{
    background-color: partial.$primary-color-1;
    color: partial.$primary-color-2;
}

.text-two{
    background-color: partial.$primary-color-2;
    color: partial.$primary-color-4;
}

.text-three{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

.text-four{
    background-color: partial.$primary-color-1;
    color: partial.$primary-color-2;
}

.text-five{
    background-color: partial.$primary-color-3;
    color: partial.$primary-color-1;
}

/* TEASER */ 

.section-one{
    height: 100vh;
    background-color: #C1DFEF;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20vh;

    h2{
        font-size: 50px;
        margin-bottom: 10vh;
        margin-left: 0;
        text-transform: uppercase;
        color: partial.$primary-color-1;
        margin-top: 5vh;
    }

    h4{
        color: partial.$primary-color-4;
    }

    p{
        width: 60vw;
        color: partial.$primary-color-1;
        margin: 5vh 10vw 10vh 10vw;
        font-size: 20px;
    }
}

/* AFSLUTNING */

.section-zero{
    height: 100vh;
    background-color: partial.$primary-color-4;
    color: partial.$primary-color-2;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;

    p{
        width: 50vw;
        line-height: 1.5;
        font-size: 20px;
        margin: 5vh 25vw;
    }
}

/* BRANCHING SCENARIOS */

#yesContent, #noContent, .section-two, #yesContentTwo, #noContentTwo, #yesContentThree, #noContentThree, #yesContentFour, #noContentFour{
    height: 100vh;
    background-color: #C1DFEF;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20vh;

    h2{
        font-size: 50px;
        margin-bottom: 10vh;
        margin-left: 0;
        text-transform: uppercase;
        color: partial.$primary-color-1;
        margin-top: 5vh;
    }

    h4{
        color: partial.$primary-color-4;
    }

    p{
        width: 60vw;
        color: partial.$primary-color-1;
        margin: 5vh 10vw 10vh 10vw;
        font-size: 20px;
    }
}


#yesContent {
    background-color: partial.$primary-color-2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    p{
        text-align: center;
        margin-left: 10vw;
        margin-bottom: 10vh;
        width: 80vw;
    }

}

#noContent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: partial.$primary-color-1;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    h2, h4{
        color: partial.$primary-color-4;
    }

    p{
        text-align: center;
        margin-left: 10vw;
        margin-bottom: 10vh;
        width: 80vw;
        color: partial.$primary-color-2;
    }
}

#yesContentTwo, #yesContentThree {
    background-color: partial.$primary-color-2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    p{
        text-align: center;
        margin-left: 10vw;
        margin-bottom: 10vh;
        width: 80vw;
    }
}

#noContentTwo, #noContentThree, #yesContentFive, #noContentFive, #yesSectionEnd, #noSectionEnd{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: partial.$primary-color-1;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    h2, h4{
        color: partial.$primary-color-4;
    }

    p{
        text-align: center;
        margin-left: 10vw;
        margin-bottom: 10vh;
        width: 80vw;
        color: partial.$primary-color-2;
    }
}

/* Indstillinger til JavaScript funktion */

.hidden {
    display: none;
}

#yesContent.visible, #yesContentTwo.visible, #noContentTwo.visible, #yesContentThree.visible, #noContent.visible, #noContentThree.visible, #noContentFour.visible, #yesContentFour.visible, #yesContentFive.visible, #noContentFive.visible, #yesSectionEnd.visible, #noSectionEnd.visible{
    display: block;
}

